doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/components/bootstrap/docs/assets/css/bootstrap.css')
    script(src="/javascripts/components/jquery/jquery.js")
    script(src="/javascripts/components/bootstrap/docs/assets/js/bootstrap-tab.js")
    script(src="/javascripts/components/es5-shim/es5-shim.js")
    script(src="/javascripts/components/es5-shim/es5-sham.js")
    script(data-main="/javascripts/app-main.js", src='/javascripts/components/requirejs/require.js')
  body
    block content
