extends layout

block content
  script.
    preloadedGraphData = {
      forks: '#{JSON.stringify(stats.forks)}',
      watchers: '#{JSON.stringify(stats.watchers)}'
    }

  h1.muted Stats for #{author}/#{repoName}

  .row-fluid
    ul#stats.nav.nav-tabs
      li.active
        a(href="#forks") Forks
      li
        a(href="#watchers") Watchers

    div.tab-content.span12
      #forks.tab-pane.active
      #watchers.tab-pane
